/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Corpo do site */
body {
    background-color: #f9f9f9;    
    justify-content: center;
    align-items: center; 
}

.logo {
    height: 50px;
    max-height: 100px;
    margin-bottom: 10px;
}

/* Estilização do cabeçalho da home */
header {
    background-color: #009CA6;
    padding: 25px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}



.nav-buttons {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-buttons li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}


.btn-enter {
    background-color: #F9BB1E;
    padding: 10px 20px;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

.btn-entrar:hover {
    background-color: #F9BB1E;
}

.textoinicial{
width: auto;
height: 100px;
}
h1{
    width: center;
    height: 70px;
    font-size: 40px;
    color: #000000;
    text-align:left;
}

.textoinicial {
    display: flex; /* Ativa o layout Flexbox */
    flex-direction: column; /* Define a direção dos itens como coluna */
    align-items: center; /* Centraliza os itens dentro do contêiner */
    background-color: #7ae8b8; /* Mesma cor de fundo para manter o design */
    padding: 0px; /* Espaçamento interno */
    margin: 0px;
    text-align: center; /* Centraliza o texto dentro do contêiner */
}
.vector{
position: absolute;
left: 0%;
top: 155px;
height: 150px;
align-self: flex-start;
}
.textoinicial h1 {
    text-align: center; /* Mantém o texto alinhado à esquerda */
    margin-bottom: 25px; /* Espaço entre o texto e a imagem */
    width: 100%; /* O texto ocupa toda a largura disponível */
}
.cachorro1{
position: relative;
left: 0%;
top: -100px;
width: auto;
height: 100px;
align-self: flex-end;
display: flex;
}

h2{
    width: center;
    height: 50px;
    font-size: 30px;
    color: #000000;
    text-align:center;
}
/* Estilo geral do formulário */
.container{
    background-color: #fafafa;
    border-radius: 14px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0.5);
    overflow: hidden;
  }
  
    
  .form{
    position: absolute;
    margin-top: 100;
    right: 130px;
    background-color:#f9f9f9;
    border: 3px solid #9b9898;
    border-radius: 10px;
    margin: 180px;
    margin color: #000;
    max-width: 450px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0,0,0, 0,5);
    justify-content: center;
  }
  
  .form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
  }
  
  .form-content label{
    display: inline-block;
    margin-bottom: 4px;
  }
  
  .form-content input{
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
  }
  
  .form-content a{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
  }
  
  .form button{    
    display: grid;
    place-items: center;
    background-color: #009CA6;
    color: #ddd;
    width: 300px;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 15px;
    margin-left:75px;
   
}
  
  .form-content.error input{
    border-color: #ff3b25;
  }
  
  .form-content.error a{
    color: #ff3b25;
    visibility: visible;
  }


/* Estilização de tabelas */
table {
    position:relative;
    left: 0%;
    top: 20px;
    height: auto;
    width: 20%;
    border-collapse: collapse;
    background-color: #ffffff;
    }

th, td {
    padding: 30px;
    text-align:left;
    border-bottom: 2px solid #ddd;
}

th {
    background-color: #00796b;
    color: #fff;
}

footer {
    margin-top: 50px;
    background-color: #009CA6;
    padding: 10px 20px;
    color: #000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 15px;
}

.footer-column h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #000;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.app-download {
    padding-top: 1%;
    color: #fff;
    align-items: center;
    text-align: center;
    background-color: #100069;
    border-radius: 30px;
}

.app-links {
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.store-buttons a img {
    max-width: 120px;
    height: auto;
    border-radius: 5px;
}


/* Responsividade */
@media (max-width: 768px) {
    .headerHome nav ul {
        flex-direction: column;
        align-items: center;
    }

    .cards-row {
        flex-direction: column;
        align-items: center;
    }

    .cards-container {
        flex-direction: column;
    }
}